endPointOverride=http://node-0.gce-us-east-1.76474865b7745a2ec5bd.clusters.scylla.cloud:8000
profile=DevOpsAccessRole
bucketName=aven-migrator-bucket
keyName=dir-1/original.json.gz
tableName=MusicCollection
filePath=/Users/wpaven/ddb_to_scylla_migration/import_export_java/
gzipFileToSave=original.json.gz
